<%- include('../partial/head') %>
<%- include('../partial/nav') %>

<div class="container">
    <div class="card">

        <h1>Here are our Favourite Homes</h1> 
        
        <% home.forEach(house => { %>

            <div class="home">

                <img src="<%= house.photoUrl %>" alt="Home Image" width="300">

                <h2><%= house.houseName %></h2>

                <p><strong>Location:</strong> <%= house.location %></p>

                <p style="color: #ff4d4d;"><strong>Price:</strong> ₹<%= house.price %> / night</p>

                <p><strong>Rating:</strong> ⭐ <%= house.rating %></p>

                <hr>
                <div class="d">
                <div class="button" style="background-color: rgb(3, 230, 3);">
                    <div class="t1">Book</div>
                </div>
                <div class="button" style="background-color: rgb(0, 166, 255) ;">
                    <a style="color: white; "  href="/user/<%=house.id%>"> Details</a>
                </div>
                <form action="/user/delete/<%= house.id %>" method="post">
                    <button type="submit"> Delete</button>
                </form>
                </div>
            </div>

        <% }) %>

    </div>
</div>

</body>
</html>