<%- include('../partial/head') %>
<%- include('../partial/nav_s') %>

<div class="container">
    <div class="card">

        <h1>Hey Host!, here are all the homes </h1>

        <% home.forEach(house => { %>

            <div class="home">

                <img src="<%= house.photoUrl %>" alt="Home Image" width="300">

                <h2><%= house.houseName %></h2>

                <p><strong>Location:</strong> <%= house.location %></p>

                <p><strong>Price:</strong> ₹<%= house.price %> / night</p>

                <p><strong>Rating:</strong> ⭐ <%= house.rating %></p>

                <hr>
            </div>
            <div class="d">
                <div class="button">
                    <div class="t1">Edit</div>
                </div>
                <div class="button">
                    <div class="t1">Delete</div>
                </div>
            </div>
        <% }) %>

    </div>
</div>

</body>
</html>